<div class="log_whole">
  <div class="log_action">
    <p class='tc b font22 mb20'>注册</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="log_all">
        <div class="log_info">
          <span><span class="ls10">手机</span>号：<%= f.text_field :mobile, autofocus: true, autocomplete: "mobile" %></span>
        </div>

        <div class="log_info">
          <span><span class="ls35">密</span>码：<%= f.password_field :password, autocomplete: "off" %></span>
        </div>

        <div class="log_info">
          <span>确认密码：<%= f.password_field :password_confirmation, autocomplete: "off" %></span>
        </div>

        <div class="log_but">
          <%= f.submit "注册" %>
          <div class="red"><%= alert %></div>
          <%= devise_error_messages! %>
        </div>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
