<div>
  <span class="title">新增账户</span>
</div>

<%= form_for @account, url: admin_accounts_path, html: {class: 'layui-form valid_engine', method: :post}, :multipart => true  do |f| %>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>账户名</label>
    <div class="layui-input-block"><%= f.text_field :name, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>账户号</label>
    <div class="layui-input-block"><%= f.text_field :card_number, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>初始金额</label>
    <div class="layui-input-block"><%= f.text_field :initial_total, class: "layui-input w300 validate[required,custom[number]]" %></div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <%= f.submit  "立即提交", class: "layui-btn" %>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
<% end %>
