<%= form_for @employee, url: url, html: {class: 'layui-form valid_engine'}, :multipart => true  do |f| %>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>姓名</label>
    <div class="layui-input-block"><%= f.text_field :name, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>电话</label>
    <div class="layui-input-block"><%= f.text_field :mobile, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>岗位</label>
    <div class="layui-input-block"><%= f.text_field :department, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>紧急联系人</label>
    <div class="layui-input-block"><%= f.text_field :emergent_person, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>紧急联系电话</label>
    <div class="layui-input-block"><%= f.text_field :emergent_mobile, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>薪资</label>
    <div class="layui-input-block"><%= f.text_field :salary, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>出生日期</label>
    <div class="layui-input-block"><%= f.text_field :born_at, class: "layui-input w300 validate[required]", id: "born" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"><%= require_span %>入职日期</label>
    <div class="layui-input-block"><%= f.text_field :join_at, class: "layui-input w300 validate[required]", id: "join" %></div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <%= f.submit  "立即提交", class: "layui-btn" %>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
<% end %>
<script src="/assets/javascripts/layui.js"></script>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;

  //执行一个laydate实例
  laydate.render({
    elem: '#born' //指定元素
  });
  laydate.render({
    elem: '#join' //指定元素
  });
});
</script>
