<div class="h50">
<span class="title">员工管理</span>
<span><%= link_to "添加", new_admin_employee_path, class: "layui-btn layui-btnn fr" %><span>
</div>

<table class="layui-table">
  <thead>
    <tr>
      <th>姓名</th>
      <th>电话</th>
      <th>岗位</th>
      <th>入职时间</th>
      <th>生日</th>
      <th>薪资</th>
      <th>紧急联系人</th>
      <th>状态</th>
      <th>创建人</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <th><%= employee.name %></th>
        <th><%= employee.mobile %></th>
        <th><%= employee.department %></th>
        <th><%= employee.join_at %></th>
        <th><%= employee.born_at %></th>
        <th><%= employee.salary %></th>
        <th><%= employee.emergent_person %>(<%= employee.emergent_mobile %>)</th>
        <% status_class = employee.status == 1 ? "" : "red" %>
        <th class=<%= status_class %>><%= Employee::STATUS[employee.status] %></th>
        <th><%= employee.user.try(:user_name) || employee.user.try(:mobile) %></th>
        <th>
          <ul class="layui-nav layui-bg-green cz-select-ul" lay-filter="">
            <li class="layui-nav-item">
              <a class="lh30" href="javascript:;">操作</a>
              <dl class="layui-nav-child">
                <dd><%= link_to "修改", edit_admin_employee_path(employee) %></dd>
                <dd><%= link_to "查看", admin_employee_path(employee) %></dd>
                <% if employee.status == 1 %>
                  <dd><%= link_to "离职", show_leave_admin_employee_path(employee) %></dd>
                <% end %>
              </dl>
            </li>
          </ul>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>




<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){
  var element = layui.element;

  //…
});
</script>
