<div>
  <span class="title">新增员工</span>
</div>

<%= form_for @employee, url: admin_employees_path, html: {class: 'layui-form valid_engine', method: :post}, :multipart => true  do |f| %>
  <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-block"><%= f.text_field :name, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">电话</label>
    <div class="layui-input-block"><%= f.text_field :mobile, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">岗位</label>
    <div class="layui-input-block"><%= f.text_field :department, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">紧急联系人</label>
    <div class="layui-input-block"><%= f.text_field :emergent_person, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">紧急联系电话</label>
    <div class="layui-input-block"><%= f.text_field :emergent_mobile, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">薪资</label>
    <div class="layui-input-block"><%= f.text_field :salary, class: "layui-input w300 validate[required]" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">出生日期</label>
    <div class="layui-input-block"><%= f.text_field :born_at, class: "layui-input w300 validate[required]", id: "born" %></div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">入职日期</label>
    <div class="layui-input-block"><%= f.text_field :join_at, class: "layui-input w300 validate[required]", id: "join" %></div>
  </div>
  <i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe6c6;</i>


  <div class="layui-form-item">
    <div class="layui-input-block">
      <%= f.submit  "立即提交", class: "layui-btn" %>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
<% end %>
<script src="/assets/javascripts/layui.js"></script>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;

  //执行一个laydate实例
  laydate.render({
    elem: '#born' //指定元素
  });
  laydate.render({
    elem: '#join' //指定元素
  });
});
</script>
