<html>
  <head>
    <title>育美幼儿园</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="boxed">
      <div class="menu-wrap">
        <%= render 'layouts/left_menu' %>
      </div>
      <!-- 内容区域 -->
      <div class="content-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>






